/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 30px; // For consistent padding
$grey: #f6f6f6; // Background color
$white: #fff; // Background color
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
$font-color: #111111; // Default font color
