/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
table,
td,
div,
a {
  box-sizing: border-box; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important; }

table {
  border-collapse: separate !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%; }
  table td {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    vertical-align: top; }

.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: #f6f6f6; }

.body {
  background-color: #f6f6f6;
  width: 100%; }

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block;
  Margin: 0 auto !important;
  /* makes it centered */
  max-width: 600px;
  padding: 10px;
  width: auto !important;
  width: 600px; }

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px; }

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */
.main {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 100%; }

.wrapper {
  padding: 30px; }

.content-block {
  padding: 0 0 30px; }

.header {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 100%; }

.footer {
  clear: both;
  width: 100%; }
  .footer * {
    color: #999999;
    font-size: 12px; }
  .footer td {
    padding: 20px 0; }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #111111 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 30px; }

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px;
  font-weight: 500; }

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px; }
  p li,
  ul li,
  ol li {
    list-style-position: inside;
    margin-left: 5px; }

a {
  color: #348eda;
  text-decoration: underline; }

/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
  width: 100%; }
  .btn > tr > td {
    padding-bottom: 15px; }
  .btn table {
    width: auto; }
  .btn table td {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center; }
  .btn a {
    background-color: #ffffff;
    border: solid 1px #348eda;
    border-radius: 5px;
    color: #348eda;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize; }

.btn-primary table td {
  background-color: #348eda; }

.btn-primary a {
  background-color: #348eda;
  border-color: #348eda;
  color: #ffffff; }

.btn-secondary table td {
  background-color: transparent; }

.btn-secondary a {
  background-color: transparent;
  border-color: #348eda;
  color: #348eda; }

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0; }

.first {
  margin-top: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.clear {
  clear: both; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0; }

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
  table[class=body] h1,
  table[class=body] h2,
  table[class=body] h3,
  table[class=body] h4 {
    font-weight: 600 !important; }
  table[class=body] h1 {
    font-size: 22px !important; }
  table[class=body] h2 {
    font-size: 18px !important; }
  table[class=body] h3 {
    font-size: 16px !important; }
  table[class=body] .content,
  table[class=body] .wrapper {
    padding: 10px !important; }
  table[class=body] .container {
    padding: 0 !important;
    width: 100% !important; }
  table[class=body] .btn table {
    width: 100% !important; } }

/* Basics */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff; }

table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333; }

td {
  padding: 0; }

img {
  border: 0; }

.wrapper-wes {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px; }

.inner {
  padding: 10px; }

.contents {
  width: 100%; }

p {
  Margin: 0; }

a {
  color: #ee6a56;
  text-decoration: underline; }

.h1 {
  font-size: 21px;
  font-weight: bold;
  Margin-bottom: 18px; }

.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px; }

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto; }

/* One column layout */
.one-column .contents {
  text-align: left; }

.one-column p {
  font-size: 14px;
  Margin-bottom: 10px; }

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0; }

.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top; }

.two-column .contents {
  font-size: 14px;
  text-align: left; }

.two-column img {
  width: 100%;
  max-width: 280px;
  height: auto; }

.two-column .text {
  padding-top: 10px; }

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.three-column .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: top; }

.three-column img {
  width: 100%;
  max-width: 180px;
  height: auto; }

.three-column .contents {
  font-size: 14px;
  text-align: center; }

.three-column .text {
  padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.left-sidebar .left {
  max-width: 100px; }

.left-sidebar .right {
  max-width: 500px; }

.left-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.left-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.left-sidebar a {
  color: #85ab70; }

/* Right sidebar layout */
.right-sidebar {
  text-align: center;
  font-size: 0; }

.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.right-sidebar .left {
  max-width: 100px; }

.right-sidebar .right {
  max-width: 500px; }

.right-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.right-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.right-sidebar a {
  color: #70bbd9; }

/*Media Queries*/
@media screen and (max-width: 400px) {
  .two-column .column,
  .three-column .column {
    max-width: 100% !important; }
  .two-column img {
    max-width: 100% !important; }
  .three-column img {
    max-width: 50% !important; } }

@media screen and (min-width: 401px) and (max-width: 620px) {
  .three-column .column {
    max-width: 33% !important; }
  .two-column .column {
    max-width: 50% !important; } }

/* global */
.wireframes, .wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column, .two-column.wf .inner .text, .three-column.wf .inner .text {
  text-align: center;
  border: 2px solid red;
  vertical-align: middle;
  height: 100px; }

.wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column {
  border-style: dashed; }

/* non-global */
.one-column.wf .inner {
  text-align: left;
  vertical-align: top; }
  .one-column.wf .inner .h1 {
    margin: 0; }

.left-sidebar.wf .column,
.right-sidebar.wf .column {
  height: auto; }
