/* global */
.wireframes {
  text-align: center;
  border: 2px solid red;
  vertical-align: middle;
  height: 100px; // to give some height to mostly empty elements
}

.wireframes-dashed {
  @extend .wireframes;
  border-style: dashed;
}

/* non-global */

.one-column.wf {
  .inner {
    @extend .wireframes-dashed;
    text-align: left;
    vertical-align: top;
    .h1 {
      margin: 0;
    }
  }
}

.two-column.wf {
  .inner {
    @extend .wireframes-dashed;
    .text {
      @extend .wireframes;
    }
  }
}

.three-column.wf {
  .inner {
    @extend .wireframes-dashed;
    .text {
      @extend .wireframes;
    }
  }
}

.left-sidebar.wf,
.right-sidebar.wf {
  .column {
    @extend .wireframes-dashed;
    height: auto;
  }
}