---
layout: other.hbs
subject: Defakto Wireframe
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<tr>
  <td class="full-width-image">
    <img src="../img/header-img-placeholder.jpg" width="600" alt="" />
  </td>
</tr>
<tr>
  <td class="one-column wf">
    <table width="100%">
      <tr>
        <td class="inner contents">
          <p class="h1">ONE COLUMN</p>
          <p>Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="two-column wf">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="50%" valign="top">
    <![endif]-->
    <div class="column">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td class="col-img">
                  <img src="../img/two-col-img-ph.jpg" width="280" alt="" />
                </td>
              </tr>
              <tr>
                <td class="text">
                  TEXT
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="50%" valign="top">
    <![endif]-->
    <div class="column">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td class="col-img">
                  <img src="../img/two-col-img-ph.jpg" width="280" alt="" />
                </td>
              </tr>
              <tr>
                <td class="text">
                  TEXT 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>
<tr>
  <td class="three-column wf">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner">
          <table class="contents">
            <tr>
              <td class="col-img">
                <img src="../img/three-col-img-ph.jpg" width="180" alt="" />
              </td>
            </tr>
            <tr>
              <td class="text">
                TEXT
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner">
          <table class="contents">
            <tr>
              <td class="col-img">
                <img src="../img/three-col-img-ph.jpg" width="180" alt="" />
              </td>
            </tr>
            <tr>
              <td class="text">
                TEXT 
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner">
          <table class="contents">
            <tr>
              <td class="col-img">
                <img src="../img/three-col-img-ph.jpg" width="180" alt="" />
              </td>
            </tr>
            <tr>
              <td class="text">
                TEXT
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>
<tr>
  <td class="three-column wf">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Class eleifend aptent taciti sociosqu ad litora torquent conubia</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Maecenas sed ante pellentesque, posuere leo id, eleifend dolor</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Class aptent taciti sociosqu eleifend ad litora per conubia nostra</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    <tr>
    <td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Class aptent taciti eleifend sociosqu ad litora torquent conubia</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Maecenas sed ante pellentesque, posuere leo id, eleifend dolor</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="200" valign="top">
    <![endif]-->
    <table class="column">
      <tr>
        <td class="inner contents">
          <p class="h2">TITLE</p>
          <p>Class aptent taciti sociosqu ad eleifend litora per conubia nostra</p>
          <p><a href="#">link</a></p>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>
<tr>
  <td class="left-sidebar wf">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="100">
    <![endif]-->
    <table class="column left">
      <tr>
        <td class="inner">
          <img src="../img/sidebar-img-ph.jpg" width="80" alt="" />
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="500">
    <![endif]-->
    <table class="column right">
      <tr>
        <td class="inner contents">
          Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat. <a href="#">Read&nbsp;on</a>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>
<tr>
  <td class="right-sidebar wf" dir="rtl">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%" dir="rtl">
    <tr>
    <td width="100">
    <![endif]-->
    <table class="column left" dir="ltr">
      <tr>
        <td class="inner contents">
          <img src="../img/sidebar-img-ph.jpg" width="80" alt="" />
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="500">
    <![endif]-->
    <table class="column right" dir="ltr">
      <tr>
        <td class="inner contents">
          Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra. <a href="#">Per&nbsp;inceptos</a>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>